@import url("css/normalize.css");

*,
*::before,
*::after {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

* {
	margin: 0;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

html {
	font-size: 100%;
}
.page__row {
	width: 100%;
	float: center;
	position: fixed;
}
.page__cell {
	max-width: 1220px;
	margin: 0 auto 0 auto;
	padding: 0 20px;
	background-color: rgb(237, 237, 237);
}
.page__cell--header {
	max-width: 100%;
	padding: 0;
}
.header {
	height: 5rem;
	padding: 0 5rem;
	background-color: rgb(32, 37, 40);
}
.header__logo {
	font-family: 'Permanent Marker', cursive;
	font-weight: 400px;
	font-size: 2.5rem;
	float: left;
	color: white;
	margin-top: 1rem;
}
.nav {
	list-style: none;
	margin-top: 1.7rem;
	padding: 0;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	width: 35%;
	float: right;
}
.nav__link {
	text-decoration: none;
	text-underline-position: none;
	color: white;
	font-family: 'Permanent Marker', cursive;
	font-size: 1.2rem;
	transition: 0.3s;
}
.nav__link:hover {
	color: rgb(232, 76, 61);
	font-size: 1.3rem;	
}
.headline {
	color: black;
	font-family: 'Permanent Marker', cursive;
	font-weight: bold;
	font-size: 1.8rem;
	padding-top: 3rem;
	text-align: center;
}
.timetable__week {
	display: flex;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	padding-top: 3rem;
}
.timetable__day {
	width: 10rem;
	border: 2px solid rgb(198, 198, 198);
}
.day__list {
	list-style: none;
	margin: 0;
	padding: 0;
}

.margin-fix {
	margin-top: 5rem;
}
.day__headline {
	font-family: 'Permanent Marker', cursive;
	font-weight: bold;
	text-align: center;
	border-bottom: 2px solid rgb(198, 198, 198);
}
.timetable__item {
	font-family: 'Neucha', cursive;
	line-height: 1.375;
}